html {
    background: lightgrey;
}

#chat {
    padding: 10px;
    background: #fff;
    min-height: 400px;
    width: 100%;
}

.chat-controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 100%;
}

.author {
    font-weight: bold;
    color: orange;
}

.message {
    color: black;
}

.chat-wrapper {
    display: flex;
    flex-direction: row;
}

#chat-users {
    width: 25%;
    background: lightgreen;
    padding: 10px;
}

#chat-users *:not(:first-child) {
    background: #fff;
    border: 1px solid violet;
    margin-top: 5px;
    padding: 2px;
}

.room-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.room-row * {
    padding: 10px;
    margin-right: 10px;
}